<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Events</a></li>
      </ul>
    </nav>
    <div class="contianer">

    {{ content }}

    </div><!-- /.contianer -->
    <footer>
      <ul>
        <li><a href="https://discord.gg/Xk3bYvr" target="_blank">Join us on Discord</a></li>
      </ul>
  </body>
</html>
